@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header {
  display: flex;
  padding-top: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(xl));
  padding-bottom: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));

  &--menu {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
  }
}

.c-logo-label {
  &--footer {
    font-size: clamp(map.get(setting.$fontRemSize, l), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, xl));
  }
}

.c-pc-nav,
.c-nav-item,
.c-menu-item {
  flex-grow: 1;
}

.c-nav-item,
.c-menu-item {
  display: flex;
}

.c-nav-link,
.c-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--c-text-on-fill);
    background: var(--c-text-hover);
  }

  .c-nav-item:last-of-type & {
    color: var(--c-text-on-fill);
    background: var(--c-button-normal);

    &:hover,
    &:focus {
      background: var(--c-text-hover);
    }
  }
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: setting.f-space-px(3xs);
  background: currentcolor;
  border-radius: setting.f-border-radius(s);
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: setting.f-space-px(3xs);
    content: "";
    background-color: currentcolor;
    border-radius: setting.f-border-radius(s);
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -11px;
  }

  &::after {
    top: 11px;
  }

  [aria-expanded="true"] & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-sp-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;

  &[aria-hidden="false"] {
    right: 0;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-out;

    body:has(&) {
      overflow: hidden;
    }
  }
}

.c-sp-nav {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}
